#mainNav {
  min-height: 56px;
  background-color: #102542;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #385f71;
  border: 1px solid #385f71;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: #102542;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
}

.step {
  height: 0.3rem;
  width: 5rem;
  margin: 0 2px;
  background-color: #385f71;
  border: none;
  display: inline-block;
  opacity: 1;
}

#title {
  padding-top: 12rem;
  padding-bottom: 2rem;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;
  column-count: 4;
  column-gap: 0.6rem;
  padding-top: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

#photos .portfolio-box {
  position: relative;
  display: block;
}

#photos .portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(56, 95, 113, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}

#photos .portfolio-box .portfolio-box-caption .project-category {
  font-family: 'Titillium Web';
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

#photos .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

#photo .checkbox input:checked .portfolio-box-caption {
  opacity: 1;
}


/* Customize the label (the container) */
.checkbox  {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(255,255,255,0);
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked  ~ .checkmark {
  background-color: #333;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


#search {
    width:90%;
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 0.8rem 1.2rem;
  font-family: 'Titillium Web';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #385f71;
}

.btn-primary:hover {
  background-color: #2C4B59;
}

.btn-primary:focus {
  background-color: #2C4B59;
  color: white;
}

.btn-primary:active {
  background-color: #243D49 !important;
}

body p {
  font-family: 'Titillium Web';
  color: rgba(22, 22, 22, 0.7);
  font-weight: 400;
  letter-spacing: 0.1rem;
}

body h2 {
  font-family: 'Titillium Web';
  font-weight: 400;
  letter-spacing: 0.1rem;
}
