.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 0.5rem 0.8rem;
  font-family: 'Titillium Web';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #385f71;
}

.btn-primary:hover {
  background-color: #2C4B59;
}

.btn-primary:focus {
  background-color: #2C4B59;
  color: white;
}

.btn-primary:active {
  background-color: #243D49 !important;
}

.sidebar {
  position: fixed;
  top: 0rem;
  bottom: 0rem;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 103px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 103px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-item {
  font-family: 'Titillium Web';
  font-weight: 400;
  color: #333;
}

.sidebar p {
  font-family: 'Titillium Web';
  font-weight: 400;
  color: rgba(150,150,150,1)
}

.sidebar pm {
  font-family: 'Titillium Web';
  font-size: 0.9rem;
  font-weight: 400;
  color: #333;
}

#mainNav {
  min-height: 56px;
  background-color: #102542;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #385f71;
  border: 1px solid #385f71;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: #102542;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
}

#result {
  padding-top: 10rem; /* Space for fixed navbar */
}

#result .card{
  color: #333;
  border: #fff;
  text-decoration: none !important
}

#result .card:hover{
  color: #333;
  box-shadow: 0rem 0rem 0.3rem 0.1rem rgba(0, 0, 0, 0.1);
}

#result .card:active{
  color: #333;
}

@media (min-width: 768px) {
  #result {
    padding-top: 10rem; /* Space for fixed navbar */
  }
}

.card h4{
  font-family: 'Titillium Web';
  font-weight: 400
}

.card p{
  font-family: 'Raleway';
}
