body{
  background-image: url("../image/greylogo.png");
  background-size: 60%;
  background-position: 120% 10%;
  background-repeat: no-repeat;
}

.container {
  margin-top: 10rem;
  font-family: 'Titillium Web';
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

h2 {
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #3a3b45;
}

.back{
  font-size: 1.5rem;
  color: #3a3b45;
  background-color: #f2f2f2;
}

.back:hover{
  color: #3a3b45;
  background-color: #cccccc;
}

.subtitle{
  font-size: 0.9rem;
  color: rgba(22, 22, 22, 0.5);
  letter-spacing: 0.05rem;
}

.heading{
  font-family: 'Raleway';
  font-size: 0.8rem;
  color: rgba(150, 150, 150, 1);
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 0.8rem 1.2rem;
  font-family: 'Titillium Web';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #385f71;
}

.btn-primary:hover {
  background-color: #2C4B59;
}

.btn-primary:focus {
  background-color: #2C4B59;
  color: white;
}

.btn-primary:active {
  background-color: #243D49 !important;
}
