.card{
  border: #fff;
  text-decoration: none !important
}

#profile {
  top: 8rem;
  max-height: 50rem;
}

#usertrip {
  top: 8rem;
  background: #fff;
  margin-bottom: 4rem;
}

.card p {
  font-family: 'Titillium Web';
  font-weight: 400;
  color: rgba(150,150,150,1);
  letter-spacing: .10rem;
}

.card h4{
  font-family: 'Titillium Web';
  font-weight: 400;
  color: #333;
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 0.8rem 1.2rem;
  font-family: 'Titillium Web';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: rgba(240, 240, 240, 1);
  color: #333;
}

.btn-primary:hover {
  background-color: rgba(220, 220, 220, 1);
}

.btn-primary:focus {
  background-color: #243D49;
  color: white;
}

.btn-primary:active {
  background-color: #243D49 !important;
  color: white;
}

.btn-chosen {
  background-color: #243D49;
  color: white;
}

.btn-chosen:hover {
  background-color: #243D49;
  color: white !important;
}

.btn-next {
  background-color: rgba(240, 240, 240, 1);
}

.btn-next:hover {
  background-color: rgba(220, 220, 220, 1);
  color: white;
}

.btn-next:focus {
  background-color: rgba(200, 200, 200, 1);
}

.btn-next:active {
  background-color: rgba(200, 200, 200, 1) !important;
  
}

#mainNav {
  min-height: 56px;
  background-color: #102542;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #385f71;
  border: 1px solid #385f71;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: #102542;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
}