body{
  background-image: url("../image/greylogo.png"),url();
  background-size: 40%;
  background-position: 30% 28%;
  background-repeat: no-repeat;
}

.container {
  margin-top: 10rem;
  font-family: 'Titillium Web';
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

h2 {
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #3a3b45;
}

.subtitle{
  font-size: 0.9rem;
  color: rgba(22, 22, 22, 0.5);
}

.heading{
  font-family: 'Raleway';
  font-size: 0.8rem;
  color: rgba(150, 150, 150, 1);
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.content{
  font-size: 1rem;
  color: rgba(100, 100, 100, 1);
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.list-group-item:hover{
  background-color: #f2f2f2;
  text-decoration: none !important;
}

.list-group{
  padding-left: 0;
}

.list-group-item:focus{
  background-color: #cccccc;
}

.user{
  margin-left: 8.5rem;
}

.firstname{
  margin-left: 8rem;
}

.username{
  margin-left: 5.8rem;
}

.email{
  margin-left: 4.1rem;
}

.userid{
  margin-left: 7.1rem;
  color: rgba(180, 180, 180, 1);
}
