[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2-binary = "*"
gunicorn = "*"
requests = "*"
datapackage = "*"
Flask = "*"
Flask-Bootstrap = "*"
Flask-Login = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
Flask-User = "*"

[requires]
python_version = "3.7"
