[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"
wtforms = "*"
flask-login = "*"
werkzeug-security = "*"
werkzeug-urls = "*"
werkzeug = "*"

[requires]
python_version = "3.7"
