psycopg2-binary
gunicorn
gevent
Flask
flask-bootstrap
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Flask-User
Requests
datapackage
wheel
pipenv
ibm-watson>=4.2.1
watson-developer-cloud
python_dateutil>=2.5.3
websocket-client==0.48.0
ibm_cloud_sdk_core==1.5.1
flask_wtf
opencage
python-social-auth==0.2.14
pymysql
itsdangerous