<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Quicktrips</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='logo-white.png')}}"  />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Fontawesome icon -->
  <link href="{{url_for('static', filename='fontawesome-free-5.12.0-web/css/all.css')}}" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway|Titillium+Web:200,300,400,600,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/index">
        <img src="{{url_for('static', filename='logo-white.png')}}" href="/index" width="70" height="70" alt="logo img">
        <img src="{{url_for('static', filename='name-white.png')}}" href="/index" width="100" height="30" alt="brand name">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
      <ul class="navbar-nav font-weight-light">
        <li class="nav-item active">
          <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/index">My trips</a>
        </li>
      </ul>
      <ul class="navbar-nav font-weight-light mr-2 ml-4">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/index" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ current_user.avatar(128) }}" width="40" height="40" alt="user" class="rounded-circle">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/user/{{current_user.username}}">{{ current_user.username }}</a>
            <a class="dropdown-item" href="/logout">Sign Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-0 text-left">
        <p class="mx-0 my-0 mt-5 text-white text-left display-4">The WORLD is YOURS to EXPLORE!</p>
        <h2 class="text-white-50 mx-2 mt-4 mb-5">No idea where to go for holiday? Let us help!</h2>
        <a href="/question" class="btn btn-primary js-scroll-trigger">Get Started</a>
      </div>
    </div>
  </header>

  <!-- Recomandation -->
  <section id="portfolio">
    <div class="container-fluid pt-3 px-5 pb-5">
      <h2 class="text-center pt-5">Don't listen to what they say. Go see.</h2>
      <p class="text-center pb-3">Here is our recommendations for you</p>
      <div class="row">
        {% for recommendation in recommendations %}
          <div class="col-3 mx-auto px-1 py-3">
            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
              <img class="img-fluid" src="{{url_for('static', filename=recommendation.image)}}" alt="">
              <div class="portfolio-box-caption">
                <div class="project-category text-white-50">
                  {{   recommendation.city   }}
                </div>
                <div class="project-name">
                  xxxxxxxxxxxxxxxxxxxxxxxxxx
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <!-- Travel Type -->
  <section id="traveltype" class="bg-light">
    <div class="container py-5">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="row">
            <a href="/index" class="btn btn-next text-uppercase col-3 mx-1 my-3">Wildness</a>
            <a href="/index" class="btn btn-next text-uppercase col-3 mx-1 my-3">Cultural</a>
            <a href="/index" class="btn btn-next text-uppercase col-3 mx-1 my-3">Luxury</a>
            <a href="/index" class="btn btn-next text-uppercase col-3 mx-1 my-3">Volunteer</a>
            <a href="/index" class="btn btn-next text-uppercase col-3 mx-1 my-3">Adventure</a>
            <a href="/index" class="btn btn-next text-uppercase col-3 mx-1 my-3">Culinary</a>
            <a href="/index" class="btn btn-next text-uppercase col-3 mx-1 my-3">Self Drive</a>
            <a href="/index" class="btn btn-next text-uppercase col-3 mx-1 my-3">Accessible</a>
            <a href="/index" class="btn btn-next text-uppercase col-3 mx-1 my-3">Last Minute</a>
            <a href="/index" class="btn btn-primary text-uppercase col-3 mx-1 my-3">Family</a>
            <a href="/index" class="btn btn-primary text-uppercase col-3 mx-1 my-3">Friends</a>
            <a href="/index" class="btn btn-primary text-uppercase col-3 mx-1 my-3">Solo</a>
          </div>
        </div>
        <div class="col-lg-5">
          <h2>Search according to Interests or type</h2>
          <p>Don't hasitate! Each one is the best!</p>
        </div>
      </div>
    </div>
  </section>


  <!-- Budget -->
  <section id="budget">

    <div class="container p-5">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <h2>Worry about budget?</h2>
          <p>This shouldn't stop you.</p>
        </div>
        <div class="col-lg-5">
          <div class="row">
            <span style="font-size: 10rem; color: rgba(56, 95, 113, 0.8);" class="pl-5 ml-5">
              <i class="fas fa-coins"></i>
            </span>
            <div class="w-100"></div>
            <div class="row">
              <a href="/index" class="btn btn-primary text-uppercase col-auto mx-1 my-3">< £100</a>
              <a href="/index" class="btn btn-primary text-uppercase col-auto mx-1 my-3">£100 - £500</a>
              <a href="/index" class="btn btn-primary text-uppercase col-auto mx-1 my-3">> £500</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Location -->
  <section id="location" class="bg-light">
    <div class="container p-5">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="row">
            <span style="font-size: 10rem; color: rgba(56, 95, 113, 0.8);" class="pl-5 ml-5">
              <i class="fas fa-globe-asia"></i>
            </span>
            <div class="w-100"></div>
            <div class="row ml-3">
              <a href="/index" class="btn btn-primary text-uppercase col-auto mx-1 my-3">Aboard</a>
              <a href="/index" class="btn btn-primary text-uppercase col-auto mx-1 my-3">Local</a>
              <a href="/index" class="btn btn-primary text-uppercase col-auto mx-1 my-3">Anywhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h2>Aboard or local?</h2>
          <p>Go somewhere you have never been before!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Blogs -->
  <section class="testimonials text-center">
    <div class="container">
      <h2 class="mb-2">We think that...</h2>
      <div class="row pt-5">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{url_for('static', filename='user.jpg')}}" alt="">
            <h5>User A</h5>
            <p class="font-weight-light mb-0">"Good!xxxxxxxxxxxxxxxxxxxxxx"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{url_for('static', filename='user.jpg')}}" alt="">
            <h5>User B</h5>
            <p class="font-weight-light mb-0">"Like it!xxxxxxxxxxxxxxxxxxxxxxx"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="{{url_for('static', filename='user.jpg')}}" alt="">
            <h5>User C</h5>
            <p class="font-weight-light mb-0">"Helpful!xxxxxxxxxxxxxxxxxxxxxxxx"</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- FOOTER -->
  <footer class="container py-5 border-top">
    <div class="row justify-content-center">
      <div class="col-12 col-md">
        <img class="mb-2 d-block" src="{{url_for('static', filename='logo-dark.png')}}" href="/index" alt="" width="55" height="55">
        <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
      </div>
      <div class="col-4 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/index">Home</a></li>
          <li><a class="text-muted"  href="/favourites/{{  current_user.username  }}">Favourites</a></li>
          <li><a class="text-muted" href="/index">Discover</a></li>
        </ul>
      </div>
      <div class="col-4 col-md">
        <h5>Mine</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/user/{{  current_user.username  }}">My trips</a></li>
          <li><a class="text-muted"  href="/user/{{  current_user.username  }}">My profile</a></li>
        </ul>
      </div>
      <div class="col-4 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/index">Contact us</a></li>
          <li><a class="text-muted" href="/index">FAQ</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <script src="{{url_for('static', filename='js/index.js')}}"></script>

</body>