<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login</title>


    <link rel="shortcut icon" href="{{url_for('static', filename='logo-white.png')}}"  />

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
  </head>
  <body>
     <form class="form-signin" action="" method="POST" style="text-align:center" novalidate>
        {{ form.hidden_tag() }}
       <div class="text-center mb-4">
            <img class="mb-4" src="{{url_for('static', filename='BlueLogoWithName.png')}}" href="/index" width="238" height="72">
            <h1 class="h3 mb-3 font-weight-light">Welcome Back!</h1>
        </div>


       <div class="form-label-group">
         <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
       </div>

        <div class="form-label-group">
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
       </div>

        <div class="form-label-group">
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
            <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
       </div>

    </form>

</body>



</html>
