#mainNav {
  min-height: 56px;
  background-color: #102542;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #fff;
  border: 1px solid #fff;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: rgba(22, 22, 22, 0.9)
  }
  #mainNav.navbar-shrink .nav-link {
    color: #fff;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #385f71;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #2C4B59;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #2C4B59;
    outline: none;
    border-bottom: 0.25rem solid #fff;
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 50%, rgba(22, 22, 22, 0.7) 80%, #161616 100%), url("../image/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead p {
  font-family: 'Titillium Web';
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
}

.masthead h2 {
  font-family: 'Titillium Web';
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

button {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 0.8rem 1.2rem;
  font-family: 'Titillium Web';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 0.8rem 1.2rem;
  font-family: 'Titillium Web';
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 0;
}

.btn-primary {
  background-color: #385f71;
}

.btn-primary:hover {
  background-color: #2C4B59;
}

.btn-primary:focus {
  background-color: #2C4B59;
  color: white;
}

.btn-primary:active {
  background-color: #243D49 !important;
}

.btn-next {
  background-color: #ffffff;
}

.btn-next:hover {
  background-color: rgba(240, 240, 240, 1);
}

.btn-next:focus {
  background-color: rgba(200, 200, 200, 1);
}

.btn-next:active {
  background-color: rgba(200, 200, 200, 1) !important;
}

#portfolio .container-fluid {
  max-width: 1920px;
}

#portfolio .img-fluid{
  width: 21rem;
  height: 34rem;
  object-fit: cover;
}

#portfolio .container-fluid .portfolio-box {
  position: relative;
  display: block;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(56, 95, 113, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category {
  font-family: 'Titillium Web';
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name {
  font-family: 'Raleway';
  font-size: 1rem;
}

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

#clients {
  padding: 60px 0;
}

#clients img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.3s;
  padding: 15px 0;
}

#clients img:hover {
  opacity: 1;
}

#clients .owl-nav,
#clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#clients .owl-dot.active {
  background-color: #18d26e;
}


.testimonials {
  padding-top: 4rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.footer {
  max-width: 70rem;
}

body {
  letter-spacing: 0.0625em;
}

body p {
  font-family: 'Titillium Web';
  color: rgba(22, 22, 22, 0.7);
  font-weight: 400;
  letter-spacing: 0.1rem;
}

body h2 {
  font-family: 'Titillium Web';
  font-weight: 400;
  letter-spacing: 0.1rem;
}
