body{
  background-image: url("../image/greylogo.png");
  background-size: 40%;
  background-position: 30% 28%;
  background-repeat: no-repeat;

}

.container {
  margin-top: 10rem;
  font-family: 'Titillium Web';
  font-size: 1rem;
  font-weight: 400;
  text-align: left;


}

h2 {
  font-weight: 400;
  letter-spacing: 0.1rem;
}

p{
  font-size: 0.9rem;
  color: rgba(22, 22, 22, 0.5);
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  font-family: 'Titillium Web';
  font-size: 0.5rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border: 1px solid transparent;
  border-radius: 0.35rem;
}

input[type=submit]{
  font-size: 1rem;
}

.btn-next {
  background-color: #607686;
  color: white;
}

.btn-next:hover {
  background-color: #4a5b68;
  color: white;
}

.text-gray-900 {
  color: #3a3b45 !important;
}

form.user .custom-checkbox.small label {
  line-height: 1.5rem;
}

form.user .form-control-user {
  font-size: 0.8rem;
  padding: 1.2rem 1rem;
}

form.user .form-control-textarea {
  font-size: 0.8rem;
  padding: 0.6rem 1rem;
}

form.user .btn-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}
