mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #385f71;
  border: 1px solid #385f71;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: rgba(22, 22, 22, 0.9)
  }
  #mainNav.navbar-shrink .nav-link {
    color: #fff;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #385f71;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #2C4B59;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #2C4B59;
    outline: none;
    border-bottom: 0.25rem solid #fff;
  }
}

header.masthead {
  position: relative;
  background: #343a40 url("bg.png") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-family: 'Titillium Web';
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.social-icons {
  position: fixed;
  margin-bottom: 2rem;
  width: 100%;
  z-index: 2;
}

.social-icons ul {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}

.social-icons ul > li {
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.social-icons ul > li > a {
  display: block;
  color: white;
  background-color: #2C4B59;
  border-radius: 100%;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
}

#toggle-heart {
  position: absolute;
  left: -100vw;
}

[id='toggle-heart']:checked + label {
  color: #ff7b71;
}

@media (min-width: 768px) {
  .social-icons {
    margin: 0;
    position: fixed;
    right: 2.5rem;
    bottom: 2rem;
    width: auto;
  }
  .social-icons ul {
    margin-top: 0;
    width: auto;
  }
  .social-icons ul > li {
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .social-icons ul > li:last-child {
    margin-bottom: 0;
  }
  .social-icons ul > li > a {
    transition: all 0.2s ease-in-out;
    font-size: 2rem;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
  }
  .social-icons ul > li > a:hover {
    color: white;
    background-color: #88b1c4;
  }
}

#hotel .container-fluid {
  max-width: 1920px;
}

#hotel .container-fluid .portfolio-box {
  position: relative;
  display: block;
}

#hotel .container-fluid .portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(56, 95, 113, 0.9);
  transition: opacity 0.25s ease;
  text-align: center;
}

#hotel .container-fluid .portfolio-box .portfolio-box-caption .project-category {
  font-family: 'Titillium Web';
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

#hotel .container-fluid .portfolio-box .portfolio-box-caption .project-name {
  font-family: 'Raleway';
  font-size: 1rem;
}

#hotel .container-fluid .portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

#flight {
  padding-left: 5rem;
  padding-right: 5rem;

}
#flight .card {
  text-decoration: none !important;
}

#flight .card:hover{
  background-color: rgba(56, 95, 113, 0.1);
}

#flight .card:active{
  background-color: rgba(56, 95, 113, 0.1);
}

.card {
  border: #fff;
}

.card p {
  font-family: 'Titillium Web';
  font-weight: 400;
  color: rgba(150,150,150,1);
  letter-spacing: .10rem;
  font-size: 0.9rem;
}

.card px {
  font-family: 'Titillium Web';
  font-weight: 400;
  color: #333;
  letter-spacing: .10rem;
  font-size: 0.9rem;
}

.card h4{
  font-family: 'Titillium Web';
  font-weight: 400;
  letter-spacing: .10rem;
  font-size: 1.2rem;
  color: #385f71;
}

body p {
  font-family: 'Titillium Web';
  color: rgba(22, 22, 22, 0.7);
  font-weight: 400;
  letter-spacing: 0.1rem;
}

body h2 {
  font-family: 'Titillium Web';
  font-weight: 400;
  letter-spacing: 0.1rem;
}