body{
  background-image: url("../image/greylogo.png");
  background-size: 60%;
  background-position: 10% 10%;
  background-repeat: no-repeat;
}

.container {
  margin-top: 10rem;
  font-family: 'Titillium Web';
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

h2 {
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #3a3b45;
}

.subtitle{
  font-size: 0.9rem;
  color: rgba(22, 22, 22, 0.5);
  letter-spacing: 0.05rem;
}

#load {
  overflow: hidden;
}

