body {
  font-family: 'Titillium Web';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background: rgba(56, 95, 113, 0.9);
  background-size: cover;
}

label{
  color: #333 !important;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #858796;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.1rem;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #858796;
  text-decoration: none;
}

.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
}

.btn-next {
  background-color: rgba(240, 240, 240, 1);
}

.btn-next:hover {
  background-color: rgba(56, 95, 113, 0.5);
  color: white;
}

.btn-next:focus {
  background-color: rgba(56, 95, 113, 0.5);
}

.text-gray-900 {
  color: #3a3b45 !important;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

form.user .custom-checkbox.small label {
  line-height: 1.5rem;
}

form.user .form-control-user {
  font-size: 0.8rem;
  padding: 1.2rem 1rem;
}

form.user .btn-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}

.btn-facebook {
  border-radius: 100%;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
  background-color: #eef4f7;
  color: #3b5998;
}

.btn-facebook:hover {
  color: #fff;
  background-color: #99bccc;
}

.btn-facebook:focus, .btn-facebook.focus {
  background-color: rgba(56, 95, 113, 0.5);
  color: white;
}

.btn-google {
  border-radius: 100%;
  font-size: 2rem;
  line-height: 4rem;
  height: 4rem;
  width: 4rem;
  background-color: #eef4f7;
  color: #e12717;
}

.btn-google:hover {
  background-color: #99bccc;
  color: white;
}

.btn-google:focus, .btn-google.focus {
  background-color: rgba(56, 95, 113, 0.5);
  color: white;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

select.invalid {
  background-color: #ffdddd;
}