body{
  background-image: url("../image/greylogo.png");
  background-size: 60%;
  background-position: 10% 10%;
  background-repeat: no-repeat;
}

.container {
  margin-top: 10rem;
  font-family: 'Titillium Web';
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

h2 {
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #3a3b45;
}

.subtitle{
  font-size: 0.9rem;
  color: rgba(22, 22, 22, 0.5);
  letter-spacing: 0.05rem;
}

.heading{
  font-family: 'Raleway';
  font-size: 0.8rem;
  color: rgba(150, 150, 150, 1);
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.content{
  font-size: 1rem;
  color: rgba(100, 100, 100, 1);
  margin-bottom: 0rem;
  padding-bottom: 0rem;
}

.list-group-item:hover{
  background-color: #f2f2f2;
  text-decoration: none !important;
}

.list-group{
  padding-left: 0;
}

.list-group-item:focus{
  background-color: #cccccc;
}

.user{
  margin-left: 8.5rem;
}

.firstname{
  margin-left: 8rem;
}

.username{
  margin-left: 5.8rem;
}

.email{
  margin-left: 4.1rem;
}

.userid{
  margin-left: 7.1rem;
  color: rgba(180, 180, 180, 1);
}

.password{
  margin-left: 5.9rem;
}

@media (max-width: 575.98px) {
  .pl-5, .px-5 {

    padding-left: 0rem;
    padding-right: 0rem;

}
  .row {

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -30px;

}
  .p.heading.col-4.mt-auto{
  }
}


@media (max-width: 650px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {
  .row{
    margin-right: -100px;
  }
}

@media (max-width: 1199.98px) {

}