<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Quicktrip-404</title>

  <link rel="shortcut icon" href="{{url_for('static', filename='image/logo-white.png')}}"  />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Fontawesome icon -->
  <link href="{{ url_for('static', filename='fontawesome-free-5.12.0-web/css/all.css') }}" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway|Titillium+Web:200,300,400,600,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/404.css') }}" rel="stylesheet">
</head>

<body>
  <div class="text-center mt-5 mb-2">
    <img src="{{ url_for('static', filename='image/404.png') }}" alt="404image" width="800">
  </div>
  <div class="text-center mx-1">
    <a href="/index" class="btn btn-primary text-uppercase col-2 mx-1 my-3">Back to home page</a>
  </div>
</body>
