<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Quicktrip-emailSent</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Fontawesome icon -->
  <link href="{{ url_for('static', filename='fontawesome-free-5.12.0-web/css/all.css') }}" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway|Titillium+Web:200,300,400,600,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/emailsent.css') }}" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="row justify-content-center px-3">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card border-0 shadow-lg my-5 py-4">
          <div class="card-body p-0">
            <div class="px-5 py-3">
              <div class="text-left">
                <p class="mb-4">An email has sent to the address you entered successfully, please follow the instruction inside to reset password.</p>
              </div>
              <div class="text-left">
                <a class="small" style="color: #385f71" href="/login">Login in</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
