<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="wvalueth=device-wvalueth, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Keywords</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='logo-white.png')}}"  />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Fontawesome icon -->
  <link href="{{url_for('static', filename='fontawesome-free-5.12.0-web/css/all.css')}}" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway|Titillium+Web:200,300,400,600,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/keywords.css')}}" rel="stylesheet">
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow-sm" id="mainNav">
    <a class="navbar-brand" href="/index">
        <img src="{{url_for('static', filename='logo-white.png')}}" href="/index" wvalueth="70" height="70" alt="logo img">
        <img src="{{url_for('static', filename='name-white.png')}}" href="/index" wvalueth="100" height="30" alt="brand name">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" value="navbarResponsive">
      <ul class="navbar-nav font-weight-light">
        <li class="nav-item active">
          <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/{{current_user.username}}">My trips</a>
        </li>
      </ul>
      <ul class="navbar-nav font-weight-light mr-2 ml-4">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/index" value="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ current_user.avatar(128) }}" wvalueth="40" height="40" alt="user" class="rounded-circle">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/user/{{current_user.username}}">{{ current_user.username }}</a>
            <a class="dropdown-item" href="/logout">Sign Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

    <div class="text-center" value="title">
        <img class="d-block mx-auto mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="80">
         <h2>Please select the top 5 keywords that suits your trip</h2>
         <p>Don't hesitate. Each one is the best!</p>
    </div>

  <form class="form-keywords" action="" method="POST" style="text-align:center" novalidate>
    {{ form.hidden_tag() }}
    <section id="photos">

    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="family" name="keywords">
      <li type="checkbox" class="portfolio-box mb-2">
        <img src="{{url_for('static', filename='family.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Family
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="wilderness" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='wilderness.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Wilderness
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="culinary" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='culinary.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Culinary
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="cultural" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='cultural.png')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Cultural
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="volunteer" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='volunteer.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Volunteer
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="solo" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='solo.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Solo
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="adventure" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='adventure.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Adventure
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="selfdrive" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='selfdrive.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Self Drive
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="accessible" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='accessible.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Accessible
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="lastminute" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='lastminute.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Last Minute
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="snow" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='snow.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Snow
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="beach" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='beach.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Beach
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="sightseeing" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='sightseeing.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Sightseeing
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="partying" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='partying.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Partying
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="cold" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='cold.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Cold
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="shopping" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='shopping.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Shopping
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="romantic" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='romantic.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Romantic
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="warm" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='warm.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Warm
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="themepark" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='themepark.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Theme Parks
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="watersports" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='watersports.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Watersports
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
    <label class="checkbox">
      <input class="form-check-input" type="checkbox" value="food" name="keywords">
      <li class="portfolio-box my-2">
        <img src="{{url_for('static', filename='food.jpg')}}" alt="">
        <div class="portfolio-box-caption">
          <div class="project-category">
            Food
          </div>
        </div>
      </li>
      <span class="checkmark"></span>
    </label>
  </section>
  <!-- Done!-->
  <div class="justify-content-center pb-5 mb-5 px-5 mx-4">
    <button class="btn btn-primary btn-block js-scroll-trigger" name="submit" value="submit">Generate Trips!</button>
  </div>

</form>


  <!-- FOOTER -->
  <footer class="container py-5 border-top">
    <div class="row justify-content-center">
      <div class="col-12 col-md">
        <img class="mb-2 d-block" src="{{url_for('static', filename='logo-dark.png')}}" href="/index" alt="" wvalueth="55" height="55">
        <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
      </div>
      <div class="col-4 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/index">Home</a></li>
          <li><a class="text-muted"  href="/favourites/{{  current_user.username  }}">Favourites</a></li>
          <li><a class="text-muted" href="/index">Discover</a></li>
        </ul>
      </div>
      <div class="col-4 col-md">
        <h5>Mine</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/user/{{  current_user.username  }}">My trips</a></li>
          <li><a class="text-muted"  href="/user/{{  current_user.username  }}">My profile</a></li>
        </ul>
      </div>
      <div class="col-4 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/index">Contact us</a></li>
          <li><a class="text-muted" href="/index">FAQ</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <script src="{{url_for('static', filename='js/keywords.js')}}"></script>

  <!-- Custom styles for this template -->
  <script src="{{url_for('static', filename='js/index.js')}}"></script>

</body>