<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Quicktrip-keyword</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Fontawesome icon -->
  <link href="{{ url_for('static', filename='fontawesome-free-5.12.0-web/css/all.css') }}" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway|Titillium+Web:200,300,400,600,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/que.css') }}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/index">
      <img src="{{ url_for('static', filename='image/logo-white.png') }}" width="70" height="70" alt="logo img">
      <img src="{{ url_for('static', filename='image/name-white.png') }}" width="100" height="30" alt="brand name">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
      <ul class="navbar-nav font-weight-light">
        <li class="nav-item active">
          <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/userpage/{{current_user.username}}">My trips</a>
        </li>
      </ul>
      <ul class="navbar-nav font-weight-light mr-2 ml-4">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/useredit" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ current_user.avatar(128) }}" width="40" height="40" alt="user" class="rounded-circle">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/userpage/{{current_user.username}}">{{ current_user.username }}</a>
            <a class="dropdown-item" href="/logout">Sign Out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <form id="queForm" method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="text-center pt-3" id="title">
      <h2>Question time!</h2>
    </div>

    <!-- Lines indicates progress -->
    <div style="text-align:center;" class="pt-4">
      <a class="step"></a>
      <a class="step"></a>
      <a class="step"></a>
      <a class="step"></a>
      <a class="step"></a>
    </div>

    <!-- One "tab" for each step in the form: -->
    <!-- Budget -->
    <div class="tab">
      <div class="row pt-3">
        <div class="col-sm-5">
          <span style="font-size: 13rem; color: rgba(56, 95, 113, 0.8);" class="icon">
            <i class="fas fa-coins"></i>
          </span>
        </div>
        <div class="col-sm-7 align-content-middle pt-5 ">

          <h4>Your min budget for this trip is?</h4>
          <div class="input-group mb-3">
            <select class="custom-select" id="minbudget" required name="minbudget" onchange="checkValid(currentTab)">
              <option value="" hidden >Choose...</option>
              <option value="0">0</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="30">30</option>
              <option value="35">35</option>
              <option value="40">40</option>
              <option value="45">45</option>
              <option value="50">50</option>
              <option value="60">60</option>
              <option value="70">70</option>
              <option value="80">80</option>
              <option value="90">90</option>
              <option value="100">100</option>
              <option value="150">150</option>
              <option value="200">200</option>
              <option value="250">250</option>
              <option value="300">300</option>
              <option value="350">350</option>
              <option value="400">400</option>
              <option value="450">450</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1,000">1,000</option>
              <option value="1,500">1,500</option>
              <option value="2,000">2,000</option>
              <option value="2,500">2,500</option>
              <option value="3,000">3,000</option>
              <option value="3,500">3,500</option>
              <option value="4,000">4,000</option>
              <option value="4,500">4,500</option>
              <option value="5,000">5,000</option>
              <option value="6,000">6,000</option>
              <option value="7,000">7,000</option>
              <option value="8,000">8,000</option>
              <option value="9,000">9,000</option>
              <option value="10,000">10,000</option>
              <option value="15,000">15,000</option>
              <option value="20,000">20,000</option>
              <option value="25,000">25,000</option>
              <option value="30,000">30,000</option>
              <option value="35,000">35,000</option>
              <option value="40,000">40,000</option>
              <option value="45,000">45,000</option>
              <option value="50,000">50,000</option>
              <option value="60,000">60,000</option>
              <option value="70,000">70,000</option>
              <option value="80,000">80,000</option>
              <option value="90,000">90,000</option>
              <option value="100,000">100,000</option>
              <option value="100,000+">More than 100,000</option>
            </select>
            <div class="invalid-feedback">
              Min budget must be smaller than or equal with max!
            </div>
          </div>

          <h4>And max?</h4>
          <div class="input-group mb-3">
            <select class="custom-select" id="maxbudget" required name="maxbudget" onchange="checkValid(currentTab)">
              <option value="" hidden >Choose...</option>
              <option value="0">0</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="15">15</option>
              <option value="20">20</option>
              <option value="25">25</option>
              <option value="30">30</option>
              <option value="35">35</option>
              <option value="40">40</option>
              <option value="45">45</option>
              <option value="50">50</option>
              <option value="60">60</option>
              <option value="70">70</option>
              <option value="80">80</option>
              <option value="90">90</option>
              <option value="100">100</option>
              <option value="150">150</option>
              <option value="200">200</option>
              <option value="250">250</option>
              <option value="300">300</option>
              <option value="350">350</option>
              <option value="400">400</option>
              <option value="450">450</option>
              <option value="500">500</option>
              <option value="600">600</option>
              <option value="700">700</option>
              <option value="800">800</option>
              <option value="900">900</option>
              <option value="1,000">1,000</option>
              <option value="1,500">1,500</option>
              <option value="2,000">2,000</option>
              <option value="2,500">2,500</option>
              <option value="3,000">3,000</option>
              <option value="3,500">3,500</option>
              <option value="4,000">4,000</option>
              <option value="4,500">4,500</option>
              <option value="5,000">5,000</option>
              <option value="6,000">6,000</option>
              <option value="7,000">7,000</option>
              <option value="8,000">8,000</option>
              <option value="9,000">9,000</option>
              <option value="10,000">10,000</option>
              <option value="15,000">15,000</option>
              <option value="20,000">20,000</option>
              <option value="25,000">25,000</option>
              <option value="30,000">30,000</option>
              <option value="35,000">35,000</option>
              <option value="40,000">40,000</option>
              <option value="45,000">45,000</option>
              <option value="50,000">50,000</option>
              <option value="60,000">60,000</option>
              <option value="70,000">70,000</option>
              <option value="80,000">80,000</option>
              <option value="90,000">90,000</option>
              <option value="100,000">100,000</option>
              <option value="100,000+">More than 100,000</option>
            </select>
            <div class="invalid-feedback">
              Min budget must be smaller than or equal with max!
            </div>
          </div>

          <h4>And above is in which currency?</h4>
          <select class="custom-select mb-3" id="currency" required name="currency" onchange="checkValid(currentTab)">
            <option value="" hidden >Choose...</option>
            <option value="1">£</option>
            <option value="2">$</option>
            <option value="3">¥</option>
            <option value="4">£</option>
          </select>
        </div>
      </div>
    </div>

    <!--Number of People -->
    <div class="tab">
      <div class="row pt-3">
        <div class="col-sm-5">
          <span style="font-size: 13rem; color: rgba(56, 95, 113, 0.8);" class="icon">
            <i class="fas fa-user-friends"></i>
          </span>
        </div>
        <div class="col-sm-7 align-content-middle pt-5 mt-4">
          <h4>How many Adults are going with you?</h4>
          <div class="input-group mb-3">
              <select class="custom-select" id="adults" required name="adults" onchange="checkValid(currentTab)">
                <option value="" hidden >Choose...</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="4">5</option>
                <option value="4">6</option>
                <option value="4">7</option>
                <option value="4">8</option>
                <option value="4">9</option>
                <option value="4">10</option>
              </select>
              <div class="invalid-feedback">
                At least one person need to be chose!
              </div>
          </div>

          <h4>And Children?</h4>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="children6">Under 6</label>
            </div>
            <select class="custom-select" id="children6" required name="children6" onchange="checkValid(currentTab)">
              <option hidden value="">Choose...</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <div class="invalid-feedback">
                At least one person need to be chose!
            </div>

            <div class="input-group-prepend ml-1">
                <label class="input-group-text" for="children612">6 - 12</label>
            </div>
            <select class="custom-select" id="children612" required name="children612" onchange="checkValid(currentTab)">
              <option hidden value="">Choose...</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <div class="invalid-feedback">
                At least one person need to be chose!
            </div>

            <div class="input-group-prepend ml-1">
                <label class="input-group-text" for="children1218">12 - 18</label>
            </div>
            <select class="custom-select" id="children1218" required name="children1218" onchange="checkValid(currentTab)">
              <option hidden value="">Choose...</option>
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <div class="invalid-feedback">
                At least one person need to be chose!
            </div>

          </div>

        </div>
      </div>
    </div>

    <!--Date available & Trip Length -->
    <div class="tab">
      <div class="row pt-3">
        <div class="col-sm-5">
          <span style="font-size: 13rem; color: rgba(56, 95, 113, 0.8);" class="icon pl-5">
            <i class="fas fa-calendar-check"></i>
          </span>
        </div>
        <div class="col-sm-7 align-content-middle pt-5 mt-4">
          <h4>What about date available?</h4>
          <div class="row">
            <div class="input-group mb-3 col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="startDate">Start Date:</label>
                </div>
                <input type="date" id="startDate" name="startDate" style="width: 11.5rem" class="form-control form-control-user" oninput="this.className = 'form-control form-control-user'">
                <div class="invalid-feedback">
                  End date must be later than start date!
                </div>
              </div>
            </div>
            <div class="input-group mb-3 col">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="endDate">End Date:</label>
                </div>
                <input type="date" id="endDate" name="endDate" style="width: 11.5rem" class="form-control form-control-user" oninput="this.className = 'form-control form-control-user'">
                <div class="invalid-feedback">
                  End date must be later than start date!
                </div>
              </div>
            </div>
          </div>
          <h4>And trip length expected?</h4>
          <select class="custom-select mb-3" id="tripLength" required name="tripLength" onchange="checkValid(currentTab)">
              <option hidden value="">Choose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="11">21</option>
              <option value="12">22</option>
              <option value="13">23</option>
              <option value="14">24</option>
              <option value="15">25</option>
              <option value="16">26</option>
              <option value="17">27</option>
              <option value="18">28</option>
              <option value="19">29</option>
              <option value="20">30</option>
              <option value="11">31</option>
              <option value="12">32</option>
              <option value="13">33</option>
              <option value="14">34</option>
              <option value="15">35</option>
              <option value="16">36</option>
              <option value="17">37</option>
              <option value="18">38</option>
              <option value="19">39</option>
              <option value="20">40</option>
            </select>
            <div class="invalid-feedback">
              Trip length must be equal with or longer than days between available start date and end date!
            </div>
        </div>
      </div>
    </div>

    <!--Location -->
    <div class="tab">
      <div class="row pt-3">
        <div class="col-sm-5">
          <span style="font-size: 15rem; color: rgba(56, 95, 113, 0.8);" class="icon pl-5">
            <i class="fas fa-globe-asia"></i>
          </span>
        </div>
        <div class="checking col-sm-7 align-content-middle pt-5 my-4">
          <h4>Aboard or Local?</h4>
            <div class="custom-control custom-radio">
              <input type="radio" id="aboard" name="aboard" value="aboard" class="custom-control-input">
              <label class="custom-control-label" for="aboard">Aboard</label>
            </div>
            <div class="custom-control custom-radio mb-3">
              <input type="radio" id="local" name="local" value="local" class="custom-control-input">
              <label class="custom-control-label" for="local">Local</label>
            </div>

           <h4>And your current location?</h4>
            <div class="row">
                <div class="col">
                    <label for="country">Country</label>
                    <select name="country" class="form-control form-control-user" id="country"  onchange="this.className='form-control form-control-user'"></select>
                </div>
                <div class="col">
                    <label for="state">State</label>
                    <select name="state" class="form-control form-control-user" id="state" onchange="this.className='form-control form-control-user'" ></select>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div style="overflow:auto;">
      <div style="float:right;">
        <button class="btn-primary" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button class="btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>



  </form>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- Js Plugin for country-state picker -->
  <script src="{{ url_for('static', filename='List_Country_State-master/countries.js') }}"></script>
  <script language="javascript">populateCountries("country", "state");</script>

  <!-- Custom styles for this template -->
  <script src="{{ url_for('static', filename='js/que.js') }}"></script>

</body>

</html>
