<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Quicktrip-register</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Fontawesome icon -->
  <link href="{{ url_for('static', filename='fontawesome-free-5.12.0-web/css/all.css') }}" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway|Titillium+Web:200,300,400,600,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet">

</head>

<body>

  <div class="container">

    <div class="card border-0 shadow-lg my-5 mx-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-8 text-left px-5 pt-5">
            <h1 class="h4 text-gray-900 mb-4 mx-3">Hi! So nice to have you here!</h1>
          </div>
          <p class="pt-5 mr-3 ml-4">Register with:</p>
          <div class="pt-4 mr-3">
            <a href="/index" class="btn btn-google pt-0">
              <i class="fab fa-google"></i>
            </a>
          </div>
          <div class="pt-4">
            <a href="/index" class="btn btn-facebook pt-0 mt-0">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </div>

          <div class="px-5 pb-3">
            <form id="form-register" class="form-register" method="POST" novalidate>
                {{ form.hidden_tag() }}
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control form-control-user" name="firstname" id="firstName" oninput="this.className='form-control form-control-user'">
                </div>
                <div class="col-sm-6">
                  <label for="surname">Last Name</label>
                  <input type="text" class="form-control form-control-user" id="surname" name="surname" oninput="this.className='form-control form-control-user'">
                </div>
              </div>
              <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control form-control-user" id="username" name="username" oninput="this.className='form-control form-control-user'">
                <div class="invalid-feedback">
                    This username has already been used by someone.
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control form-control-user" id="email" name="email" oninput="this.className='form-control form-control-user'">
                <div class="invalid-feedback">
                    This email has already been registered.
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-8 mb-3 mb-sm-0">
                  <label for="address">Address</label>
                  <input type="text" class="form-control form-control-user" id="address" name="address" oninput="this.className='form-control form-control-user'">
                </div>
                <div class="col-sm-4">
                  <label for="postcode">Postcode</label>
                  <input type="text" class="form-control form-control-user" id="postcode" name="postcode" oninput="this.className='form-control form-control-user'">
                </div>
              </div>


                <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label for="country">Country</label>
                  <select name="country" class="form-control form-control-user" id="country"  onchange="this.className='form-control form-control-user'">
                  </select>
                  <!--<input type="text" class="form-control form-control-user" id="country" name="country" oninput="this.className='form-control form-control-user'">-->
                </div>
                <div class="col-sm-6">
                  <label for="state">State</label>
                  <select name="state" class="form-control form-control-user" id="state" onchange="this.className='form-control form-control-user'"></select>
                  <!--<input type="text" class="form-control form-control-user" id="city" name="city" oninput="this.className='form-control form-control-user'">-->
                </div>
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control-user" id="password" name="password" oninput="this.className='form-control form-control-user'">
              </div>
              <div class="form-group">
                <label for="password2">Repeat Password</label>
                <input type="password" class="form-control form-control-user" id="password2" name="password2" oninput="this.className='form-control form-control-user'">
              </div>
              <al class="btn btn-next btn-user btn-block" onclick="submit()">Register</al>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" style="color: #385f71" href="/login">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- Js Plugin for country-state picker -->
  <script src="{{ url_for('static', filename='List_Country_State-master/countries.js') }}"></script>
  <script language="javascript">populateCountries("country", "state");</script>

  <!-- Custom styles for this template -->
  <script src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>

</html>
