<!doctype html>

{% import 'bootstrap/wtf.html' as wtf %}
<html lang="en">
<head>
  <meta charset="utf-8">
  \
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Register</title>


  <link rel="shortcut icon" href="{{url_for('static', filename='logo-white.png')}}"  />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Fontawesome icon -->
  <link href="{{url_for('static', filename='fontawesome-free-5.12.0-web/css/all.css')}}" rel="stylesheet">


  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway|Titillium+Web:200,300,400,600,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>

<body>

  <div class="container">

    <div class="card border-0 shadow-lg my-5 mx-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-8 text-left px-5 pt-5">
            <h1 class="h4 text-gray-900 mb-4 mx-3">Hi! So nice to have you here!</h1>
          </div>
          <p class="pt-5 mr-3 ml-4">Register with:</p>
          <div class="pt-4 mr-3">
            <a href="/googlelogin" class="btn btn-google pt-0">
              <i class="fab fa-google"></i>
            </a>
          </div>
          <div class="pt-4">
            <a href="/facebooklogin" class="btn btn-facebook pt-0 mt-0">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
        </div>

          <div class="px-5">
            <form class="form-register" action="" method="POST" style="text-align:center" novalidate>
              {{ form.hidden_tag() }}
              {% if form.errors %}
              {{ form.errors }}
              {% endif %}
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label for="firstname">First Name</label>
                  <input type="text" class="form-control form-control-user" name="firstname" id="firstname">
                  <div class="invalid-feedback">
                    First Name Required
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="surname">Last Name</label>
                  <input type="text" class="form-control form-control-user" name="surname" id="surname">
                  <div class="invalid-feedback">
                    Surname Required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control form-control-user" name="username" id="username">
                <div class="invalid-feedback">
                    Username Required
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" class="form-control form-control-user" name="email" id="email">
                <div class="invalid-feedback">
                    Email Required
                  </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-8 mb-3 mb-sm-0">
                  <label for="address">Address</label>
                  <input type="text" class="form-control form-control-user" name="address" id="address">
                  <div class="invalid-feedback">
                    Address Required
                  </div>
                </div>
                <div class="col-sm-4">
                  <label for="postcode">Postcode</label>
                  <input type="text" class="form-control form-control-user" name="postcode" id="postcode">
                  <div class="invalid-feedback">
                    Postcode Required
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label for="country">Country</label>
                  <input type="text" class="form-control form-control-user" name="country" id="country">
                  <div class="invalid-feedback">
                    Country Required
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="city">City</label>
                  <input type="text" class="form-control form-control-user" name="city" id="city">
                  <div class="invalid-feedback">
                    City Required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control-user" name="password" id="password">
                <div class="invalid-feedback">
                    Password Required
                </div>
              </div>
              <div class="form-group">
                <label for="password2">Repeat Password</label>
                <input type="password" class="form-control form-control-user" name="password2" id="password2">
                <div class="invalid-feedback">
                    Repeated Password Required
                  </div>
              </div>
                <button class="btn btn-next btn-user btn-block"  name="submit" value="submit">Register</button>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" style="color: #385f71" href="/login">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</body>

</html>