<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Quicktrip-user</title>
  <link rel="shortcut icon" href="{{url_for('static', filename='image/logo-white.png')}}"  />

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Fontawesome icon -->
  <link href="{{ url_for('static', filename='fontawesome-free-5.12.0-web/css/all.css') }}" rel="stylesheet">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway|Titillium+Web:200,300,400,600,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/userpage.css') }}" rel="stylesheet">
</head>

<body class="bg-light">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/index">
      <img src="{{ url_for('static', filename='image/logo-white.png') }}" width="70" height="70" alt="logo img">
      <img src="{{ url_for('static', filename='image/name-white.png') }}" width="100" height="30" alt="brand name">
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarResponsive">
      <ul class="navbar-nav font-weight-light">
        <li class="nav-item active">
          <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/userpage/{{current_user.username}}">My trips</a>
        </li>
      </ul>
      <ul class="navbar-nav font-weight-light mr-2 ml-4">
        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="/useredit/{{current_user.username}}" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ current_user.avatar(128) }}" width="40" height="40" alt="user" class="rounded-circle">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item d-flex justify-content-between"href="/userpage/{{current_user.username}}">
              <img src="{{ current_user.avatar(128) }}" width="50" height="50" alt="user" class="rounded-circle">
              <div class="ml-3 mt-3 d-flex justify-content-between">
                <p class="ml-1">Username: </p>
                <p class="ml-1">{{ current_user.username }}</p>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/useredit/{{current_user.username}}">Edit profile</a>
            <a class="dropdown-item" href="/logout">Sign Out</a>
          </div>

        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid px-5 mb-5 pb-5">
    <div class="row">
      <!-- user profile -->
      <div class="col-md-3 pb-5" id="profile">
        <div class="card mb-4">

          <div class="card-body">
            <div class="text-center mt-3">
              <img src="{{current_user.avatar(128)}}" width="200" height="200" alt="user" class="rounded-circle">
            </div>
            <p class="text-center mt-5">User name: {{current_user.username}}</p>
            <p class="text-center">User ID: {{current_user.id}}</p>
            <div class="text-center">
              <a href="/useredit/{{current_user.username}}" class="btn btn-next text-uppercase col-10 mx-1 my-3">Edit profile</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9 px-4 pb-5" id="usertrip">
        <div class="d-flex justify-content-between">
          <div>
            <a href="/userpage/{{current_user.username}}" class="btn btn-chosen text-uppercase col-auto mx-1 my-3">My trip</a>
            <a href="/userfavourite" class="btn btn-primary text-uppercase col-auto mx-1 my-3">Favourate</a>
          </div>
          <a data-toggle="modal" data-target="#exampleModal" class="add_more text-uppercase mx-1 my-3 pt-3">Add More Countries I've been to!</a>
        </div>

        <iframe class="map mt-3" width="100%" height="100%" frameborder="no" border="0" scrolling="no" src="{{ url_for('static', filename='html5-global-map/index.html?list=UNITED_KINGDOM,FIJI') }}" id="countryIframe" ></iframe>
      </div>
    </div>
  </div>

    <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <form class="form-addCountry" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <h1 class="mt-1 text-center">Light up your map!</h1>
            <p class="mt-1 mb-3 text-center">Choose the country you have been to before to light up the map!</p>
            <select class="custom-select mb-3" id="country" required nzame="country">
              <option hidden value="">Choose...</option>
              <option value="AFGHANISTAN">AFGHANISTAN</option>
              <option value="ALBANIA">ALBANIA</option>
              <option value="ALGERIA">ALGERIA</option>
              <option value="ANDORRA">ANDORRA</option>
              <option value="ANGOLA">ANGOLA</option>
              <option value="ARGENTINA">ARGENTINA</option>
              <option value="ARMENIA">ARMENIA</option>
              <option value="AUSTRALIA">AUSTRALIA</option>
              <option value="AUSTRIA">AUSTRIA</option>
              <option value="BAHAMAS">BAHAMAS</option>
              <option value="BAHRAIN">BAHRAIN</option>
              <option value="BANGLADESH">BANGLADESH</option>
              <option value="BELARUS">BELARUS</option>
              <option value="BELGIUM">BELGIUM</option>
              <option value="BELIZE">BELIZE</option>
              <option value="BENIN">BENIN</option>
              <option value="BHUTAN">BHUTAN</option>
              <option value="BOLIVIA">BOLIVIA</option>
              <option value="BOSNIA_AND_HERZEGOVINA">BOSNIA AND HERZEGOVINA</option>
              <option value="BOTSWANA">BOTSWANA</option>
              <option value="BRAZIL">BRAZIL</option>
              <option value="BRUNEI">BRUNEI</option>
              <option value="BULGARIA">BULGARIA</option>
              <option value="BURKINA_FASO">BURKINA FASO</option>
              <option value="BURUNDI">BURUNDI</option>
              <option value="CAMBODIA">CAMBODIA</option>
              <option value="CAMEROON">CAMEROON</option>
              <option value="CANADA">CANADA</option>
              <option value="CENTRAL_AFRICAN_REPUBLIC">CENTRAL AFRICAN REPUBLIC</option>
              <option value="CHAD">CHAD</option>
              <option value="CHILE">CHILE</option>
              <option value="CHINA">CHINA</option>
              <option value="COLOMBIA">COLOMBIA</option>
              <option value="COMOROS">COMOROS</option>
              <option value="CONGO">CONGO</option>
              <option value="COSTA_RICA">COSTA RICA</option>
              <option value="CROATIA">CROATIA</option>
              <option value="CUBA">CUBA</option>
              <option value="CYPRUS">CYPRUS</option>
              <option value="CZECH_REPUBLIC">CZECH REPUBLIC</option>
              <option value="CÔTE_D&#39;IVOIRE">CÔTE D&#39;IVOIRE</option>
              <option value="DEMOCRATIC_REPUBLIC_OF_THE_CONGO">DEMOCRATIC REPUBLIC OF THE CONGO</option>
              <option value="DENMARK">DENMARK</option>
              <option value="DJIBOUTI">DJIBOUTI</option>
              <option value="DOMINICAN_REPUBLIC">DOMINICAN REPUBLIC</option>
              <option value="ECUADOR">ECUADOR</option>
              <option value="EGYPT">EGYPT</option>
              <option value="EL_SALVADOR">EL SALVADOR</option>
              <option value="EQUATORIAL_GUINEA">EQUATORIAL GUINEA</option>
              <option value="ERITREA">ERITREA</option>
              <option value="ESTONIA">ESTONIA</option>
              <option value="ETHIOPIA">ETHIOPIA</option>
              <option value="FIJI">FIJI</option>
              <option value="FINLAND">FINLAND</option>
              <option value="FRANCE">FRANCE</option>
              <option value="FRENCH_GUIANA">FRENCH GUIANA</option>
              <option value="GABON">GABON</option>
              <option value="GEORGIA">GEORGIA</option>
              <option value="GERMANY">GERMANY</option>
              <option value="GHANA">GHANA</option>
              <option value="GREECE">GREECE</option>
              <option value="GREENLAND">GREENLAND</option>
              <option value="GUATEMALA">GUATEMALA</option>
              <option value="GUINEA">GUINEA</option>
              <option value="GUINEA-BISSAU">GUINEA-BISSAU</option>
              <option value="GUYANA">GUYANA</option>
              <option value="HAITI">HAITI</option>
              <option value="HONDURAS">HONDURAS</option>
              <option value="HUNGARY">HUNGARY</option>
              <option value="ICELAND">ICELAND</option>
              <option value="INDIA">INDIA</option>
              <option value="INDONESIA">INDONESIA</option>
              <option value="IRAN">IRAN</option>
              <option value="IRAQ">IRAQ</option>
              <option value="IRELAND">IRELAND</option>
              <option value="ISREAL">ISREAL</option>
              <option value="ITALY">ITALY</option>
              <option value="JAMAICA">JAMAICA</option>
              <option value="JAPAN">JAPAN</option>
              <option value="JORDAN">JORDAN</option>
              <option value="KAZAKHSTAN">KAZAKHSTAN</option>
              <option value="KENYA">KENYA</option>
              <option value="KOSOVO">KOSOVO</option>
              <option value="KUWAIT">KUWAIT</option>
              <option value="KYRGYZSTAN">KYRGYZSTAN</option>
              <option value="LAOS">LAOS</option>
              <option value="LATVIA">LATVIA</option>
              <option value="LEBANON">LEBANON</option>
              <option value="LESOTHO">LESOTHO</option>
              <option value="LIBERIA">LIBERIA</option>
              <option value="LIBYA">LIBYA</option>
              <option value="LIECHTENSTEIN">LIECHTENSTEIN</option>
              <option value="LITHUANIA">LITHUANIA</option>
              <option value="LUXEMBOURG">LUXEMBOURG</option>
              <option value="MACEDONIA">MACEDONIA</option>
              <option value="MADAGASCAR">MADAGASCAR</option>
              <option value="MALAWI">MALAWI</option>
              <option value="MALAYSIA">MALAYSIA</option>
              <option value="MALDIVES">MALDIVES</option>
              <option value="MALI">MALI</option>
              <option value="MALTA">MALTA</option>
              <option value="MAURITANIA">MAURITANIA</option>
              <option value="MAURITIUS">MAURITIUS</option>
              <option value="MEXICO">MEXICO</option>
              <option value="MOLDOVA">MOLDOVA</option>
              <option value="MONGOLIA">MONGOLIA</option>
              <option value="MONTENEGRO">MONTENEGRO</option>
              <option value="MOROCCO">MOROCCO</option>
              <option value="MOZAMBIQUE">MOZAMBIQUE</option>
              <option value="MYANMAR">MYANMAR</option>
              <option value="NAMIBIA">NAMIBIA</option>
              <option value="NEPAL">NEPAL</option>
              <option value="NETHERLANDS">NETHERLANDS</option>
              <option value="NEW_ZEALAND">NEW ZEALAND</option>
              <option value="NICARAGUA">NICARAGUA</option>
              <option value="NIGER">NIGER</option>
              <option value="NIGERIA">NIGERIA</option>
              <option value="NORTH_KOREA">NORTH KOREA</option>
              <option value="NORWAY">NORWAY</option>
              <option value="OMAN">OMAN</option>
              <option value="PAKISTAN">PAKISTAN</option>
              <option value="PALESTINE">PALESTINE</option>
              <option value="PANAMA">PANAMA</option>
              <option value="PAPUA_NEW_GUINEA">PAPUA NEW GUINEA</option>
              <option value="PARAGUAY">PARAGUAY</option>
              <option value="PERU">PERU</option>
              <option value="PHILIPPINES">PHILIPPINES</option>
              <option value="POLAND">POLAND</option>
              <option value="PORTUGAL">PORTUGAL</option>
              <option value="PUETRO_RICO">PUETRO RICO</option>
              <option value="QATAR">QATAR</option>
              <option value="ROMANIA">ROMANIA</option>
              <option value="RUSSIA">RUSSIA</option>
              <option value="RWANDA">RWANDA</option>
              <option value="SAUDI_ARABIA">SAUDI ARABIA</option>
              <option value="SENEGAL">SENEGAL</option>
              <option value="SERBIA">SERBIA</option>
              <option value="SEYCHELLES">SEYCHELLES</option>
              <option value="SIERRA_LEONE">SIERRA LEONE</option>
              <option value="SINGAPORE">SINGAPORE</option>
              <option value="SLOVAKIA">SLOVAKIA</option>
              <option value="SLOVENIA">SLOVENIA</option>
              <option value="SOLOMON_ISLANDS">SOLOMON ISLANDS</option>
              <option value="SOMALIA">SOMALIA</option>
              <option value="SOUTH_AFRICA">SOUTH AFRICA</option>
              <option value="SOUTH_KOREA">SOUTH KOREA</option>
              <option value="SOUTH_SUDAN">SOUTH SUDAN</option>
              <option value="SPAIN">SPAIN</option>
              <option value="SRI_LANKA">SRI LANKA</option>
              <option value="SUDAN">SUDAN</option>
              <option value="SURINAME">SURINAME</option>
              <option value="SWAZILAND">SWAZILAND</option>
              <option value="SWEDEN">SWEDEN</option>
              <option value="SWITZERLAND">SWITZERLAND</option>
              <option value="SYRIA">SYRIA</option>
              <option value="SÃO_TOMÉ_AND_PRÍNCIPE">SÃO TOMÉ AND PRÍNCIPE</option>
              <option value="TAIWAN">TAIWAN</option>
              <option value="TAJIKISTAN">TAJIKISTAN</option>
              <option value="TANZANIA">TANZANIA</option>
              <option value="THAILAND">THAILAND</option>
              <option value="THE_GAMBIA">THE GAMBIA</option>
              <option value="TIMOR-LESTE">TIMOR-LESTE</option>
              <option value="TOGO">TOGO</option>
              <option value="TUNISIA">TUNISIA</option>
              <option value="TURKEY">TURKEY</option>
              <option value="TURKMENISTAN">TURKMENISTAN</option>
              <option value="UGANDA">UGANDA</option>
              <option value="UKRAINE">UKRAINE</option>
              <option value="UNITED_ARAB_EMIRATES">UNITED ARAB EMIRATES</option>
              <option value="UNITED_KINGDOM">UNITED KINGDOM</option>
              <option value="UNITED_STATES">UNITED STATES</option>
              <option value="URUGUAY">URUGUAY</option>
              <option value="UZBEKISTAN">UZBEKISTAN</option>
              <option value="VENEZUELA">VENEZUELA</option>
              <option value="VIETNAM">VIETNAM</option>
              <option value="WESTERN_SAHARA">WESTERN SAHARA</option>
              <option value="YEMEN">YEMEN</option>
              <option value="ZAMBIA">ZAMBIA</option>
              <option value="ZIMBABWE">ZIMBABWE</option>
              </select>
            <h1 class="mt-1 rate">And how do you like the visit?</h1>
            <p class="mt-1 mb-3">5 stands for top and 1 stands for bottom...</p>
            <select class="custom-select mb-3" id="rate" required name="rate">
              <option hidden value="">Choose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button class="btn-u btn-user btn-block mt-2" name="submit" value="submit">Add this country</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- FOOTER -->
  <footer class="container py-5 border-top">
    <div class="row justify-content-center">
      <div class="col-12 col-md">
        <img class="mb-2 d-block" src="{{ url_for('static', filename='image/logo-dark.png') }}" alt="" width="55" height="55">
        <small class="d-block mb-3 text-muted">&copy; 2019-2020</small>
      </div>
      <div class="col-4 col-md">
        <h5>Fearures</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/index">Home</a></li>
          <li><a class="text-muted" href="/que">Get Started</a></li>
        </ul>
      </div>
      <div class="col-4 col-md">
        <h5>Mine</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/userpage">My trips</a></li>
          <li><a class="text-muted" href="/userfavourite">Favourite</a></li>
          <li><a class="text-muted" href="/useredit">Profile</a></li>
        </ul>
      </div>
      <div class="col-4 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/contactus">Contact us</a></li>
          <li><a class="text-muted" href="/faq">FAQ</a></li>
        </ul>
      </div>
    </div>
  </footer>










  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <script src="{{ url_for('static', filename='js/newhome.js') }}"></script>
</body>
